<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CSIO JsSIP demo application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<br>
<h2>CSIO JsSIP Demo</h2>
<br><br>
<div id="login">
    <input type="text" id="localUser" />
    <button id="btnLogin">Log in</button>
    <span id="showUser"></span>
    <input type="text" id="remoteUser" style="display:none"/>
    <button id="btnCall" style="display:none">Call</button>
    <button id="btnHangup" style="display:none">Hangup</button>
</div>
<br><br>
<div id="call">
    <video id="localVideo" autoplay></video>
    <video id="remoteVideo" autoplay></video>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

<script type="text/javascript">
    ASTERISK_SERVER = '<%= ASTERISK_SERVER%>'
    SIP_USER_PASSWORD =  '<%= SIP_USER_PASSWORD %>'
    CSIO_APP_ID = '<%= CSIO_APP_ID%>'
    CSIO_APP_SECRET = '<%= CSIO_APP_SECRET%>'
</script>

<!-- Load callstats.io, and callstats jssip library -->
<script src='https://api.callstats.io/static/callstats.min.js'></script>
<script src='https://api.callstats.io/static/callstats-jssip.min.js'></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/javascripts/libraries/sdp-interop-sl.js"></script>
<script src="/jssip/dist/jssip.min.js"></script>
<script src="/javascripts/libraries/main.js"></script>

</body>
</html>
